@using DigitalBreakthrough.ViewModels
@using DigitalBreakthrough.Enums
@model List<AppointmentModel>
<section class="taski"> 
  <div class="container">
    <div class="inner">
      <h1 class="section_title">Мои записи</h1>
      <div class="row">        
        @foreach (AppointmentModel item in Model)
        {
            <div class="item">
              <div class="inner">
                <div class="cell">
                  @item.DoctorName
                  <br />
                  @item.Time
                </div>
              </div>
            </div>
            <!-- @item.Id
            @item.DoctorId
            @item.Status
            @EventStatus.Awaiting
            @EventStatus.Canceled
            @EventStatus.Finished
            @EventStatus.Forming
            @EventStatus.InProgress
            @(item.Status == EventStatus.Finished ? "test" : "asd") -->
        }
      </div>
    </div>
  </div>  
</section>
